body {
    margin: 0;
    padding: 0;
}
/*Start navigation*/
a {
    font-size: 1em;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 .5em;
    background: #001524;
    width: 100%;
    box-sizing: border-box;
}
header .logo {
    color: whitesmoke;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}
header nav {
    float: right;
}
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
    list-style: none;
    position: relative;
}
header nav ul li.sub-menu:before {
    content: '\f107';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #B8BEC6;
    right: 5px;
}
header nav ul li.active.sub-menu:before {
    content: '\f106'
}
header nav ul li ul {
    position: absolute;
    left: 0;
    background: #001524;
    display: none;
}
header nav ul li.active ul {
    display: block;
}
header nav ul li ul li {
    display: block;
    width: 200px;
}
header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #B8BEC6;
    text-decoration: none;
}
header nav ul li a:hover,
header nav ul li a.active {
    color: whitesmoke;
    background: #001524;
}
.menu-toggle {
    color: whitesmoke;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
@media (max-width: 800px) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        font-size: 1.2em;
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #001524;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li.active ul {
        position: relative;
        background: #334857;
        z-index: 2;
    }
    header nav ul li ul li {
        width: 100%;
    }
}
/*Slutning af navigation*/
/* Grid start forside*/
#pagewrap {
    background-color: white;
    padding: 1em;
    margin-top: 3em;
    grid-gap: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "webudvikling"
        "design"
        "interface"
        "kommunikation"
        "virksomhed"
        "projekter"
        "omsiden" ;
}
#webudvikling {
    grid-area: webudvikling;
}
#design {
    grid-area: design;
}
#interface {
    grid-area: interface;
}
#kommunikation {
    grid-area: kommunikation;
}
#virksomhed {
    grid-area: virksomhed;
}
#projekter {
    grid-area: projekter;
}
#omsiden {
    grid-area: omsiden;
}
/* Grid slut forside*/

/* Emne oversigt */
.thumbcontainer img {
    margin-top: .5em;
    border-style: solid;
    border-color: #334857;
    width: 100%;
}
.tekstcontainer h2, p {
    margin-top: 0px;
}
.tekstcontainer h2 {
    margin-bottom: .2em;
}
/* Footer*/
footer {
    width: 100%;
    color: #B8BEC6;
    background: #001524;
    bottom: 0;
    margin: 0;
}
#footerkontakt {
    padding-top: 30px;
    padding-left: 1em;
    padding-bottom: 1em;
}
#footerkontakt h2 {
    margin-bottom: 10px;
}
#footerinfo p {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 30px;
    margin-bottom: 0;
}
/*Footer slut*/

@media only screen and (min-width: 600px) { /*Tablet version */
    #pagewrap {
        grid-template-rows: 1fr  1fr  1fr  1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "webudvikling design"
            "interface kommunikation"
            "virksomhed projekter"
            "omsiden ."
    }
}
@media only screen and (min-width: 1024px) {
    #pagewrap {
        margin: 0 10em;
        padding-top: 5em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "webudvikling design interface"
            "kommunikation virksomhed projekter"
            "omsiden . ."
    }
}